@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DUCKS ASSEMBLE</h1>
            <img src="/images/coder_duck.jpg" height=200 width=325 style="padding: 25px;">
    <p>We both know you're alone a lot, our ducks ensure that wont be the case forever.</p>
    </div>
